.todo{
  width: 100%;
  
  header{
    width: 100%;
    font-size: 16px;
    margin-bottom: 16px;
  }
  ul{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
    p{
      width: 100%;
      text-align: center;
    }
    li{
      width: 100%;
      height: 75px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-inline: 20px ;
      border-radius: 10px;
      background-color: #15101C;

      p{
        color: #9E78CF; 
        text-align: left;
      }
      div{
        width: auto;
        height: 100%;
        display: flex;
        align-items: center;
        button{
          width: 40px;
          height: 80%;
          background-color: #15101C;
          border: inherit;
          border-radius: 8px;
          cursor: pointer;
        }
        button:hover{
          background-color: #1e172a;
        }
      }
    }
  }
}