*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
html{
  width: 100%;
  height: 100%;
  background-color: #0D0714;
}
#root{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #0D0714;
}
#app{
  width: 90%;
  max-width: 585px;
  margin-block: 50px;
  display: flex;
  flex-direction: column;
  gap: 60px;
  background-color: #1D1825;
  color: #fff;
  border-radius: 20px;
  padding: 55px 70px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#pratov{
  width: 100%;
  display: flex;
  justify-content: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

  h1{
    color: white;
    font-size: 16px;
    display: flex;
    gap: 10px;
    
    a{
      text-decoration: none;
      color: #9E78CF;
    }
    a:hover{
      text-decoration: underline;
    }
  }
}
